
.daimei{
    font-size: 36px;
    margin: 24px 0;
    border-bottom: 1px solid #f0f0f0;
}
.contents {
    display: flex;
}

.input-container{
}

.viewexample{
    min-width: 0;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

.textarea-container {
    position: relative;
    display: inline-block;
}
.input-textarea {
    width: 100%;
    border-radius: 0%;
    resize: none;
    border:black 1px solid;
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
}
.input-textarea:hover{
    box-shadow: 0 0 12px gray;
}
.input-textarea:focus {
    outline: none;
    box-shadow: 0 0 12px black;
}

.textarea-button {
    position: absolute;
    bottom: -12px;
    right: -7px;
    padding: 4px 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    border:black 1px solid;
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
}

.textarea-button:hover {
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 12px black;
}

.example-count-input{
    width: 60px;
    border-radius: 0%;
    border:black 1px solid;
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
    margin-left: 10px;
}
.example-count-input:focus {
    outline: none;
    box-shadow: 0 0 12px black;
}

.examples {
    padding: 0;
    padding-left: 20px;
    margin-bottom: 12px; /* 例文ブロックごとの間隔 */
}

.examples h3,
.examples p {
    margin: 0;
}
.word-section{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    transition: box-shadow 0.3s ease;
}
.word-section:hover {
    box-shadow: 0 0 12px #f0f0f0;
}