
.contents {
    display: flex;
    width: 100vw;
    min-height: 80vh;
}

.input-container{
}

.viewexample{
    flex: 1;
    min-width: 0;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

.input-container{
    flex: 1;
}

.textarea-container {
    position: relative;
    display: inline-block;
}
.input-textarea {
    width: 100%;
    border-radius: 0%;
    resize: none;
    border:black 1px solid;
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
}
.input-textarea:focus {
    outline: none;
    box-shadow: 0 0 12px black;
}

.textarea-button {
    position: absolute;
    bottom: -12px;
    right: -7px;
    padding: 4px 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    border:black 1px solid;
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
}

.textarea-button:hover {
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 12px black;
}

.example-count-input{
    width: 60px;
    border-radius: 0%;
    border:black 1px solid;
    transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
    margin-left: 10px;
}
.example-count-input:focus {
    outline: none;
    box-shadow: 0 0 12px black;
}

.examples {
    padding: 0;
    padding-left: 20px;
    margin-bottom: 12px; /* 例文ブロックごとの間隔 */
}

.examples h3,
.examples p {
    margin: 0;
}